$primary: #4F201A;
$secondary: #FBF8E7;
$tertiary: #EDD8A9;
$highlight: #F16156;
$cool: #CAE8DC;
$green: #4c653b;

$item-california-bg:              $tertiary !default;
$item-california-border:          $primary !default;
$item-california-text:            $green !default;
$item-california-active-bg:       $button-light-active-bg;
$item-california-active-border:   $button-light-active-border;
